body {
    background: linear-gradient(45deg, rgba(13, 26, 25, 0.897), rgba(50, 243, 66, 0.308)), url(pics/elf.jpg);
    background-size: cover;
    line-height: 1.3;
}

div.table {
    height: 200px;
    border: 1px;
    overflow: auto;
    width: 100%;
}

div.container {
    max-width: 100%;
}

div.limiter1 {
    margin: 0%;
    padding-top: 10px;
    padding-left: 20px;
    display: inline-block;
}

#zatemnenie {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#okno {
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 15px;
    border: 3px solid #0000cc;
    border-radius: 10px;
    color: #0000cc;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
}

#zatemnenie:target {
    display: block;
}

.close {
    display: inline-block;
    border: 1px solid #0000cc;
    color: #0000cc;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor: pointer;
}

.close:hover {
    background: #e6e6ff;
}