body {
    background: url(pics/jewelry.png);
    background-size: 100%;
    color: white;
}

button {
    color: white;
}

div.jumbotron {
    width: 100%;
    height: 7%;
    padding: 0%;
    text-align: center;
    background: linear-gradient(to top left, powderblue, pink);
    margin-bottom: 0%;
}

p.x1 {
    font-size: 150%;
    color: rgb(0, 0, 0);
    padding: 1px;
}

div.container {
    max-width: 100%;
}

/* наша HTML таблица */

table.ui {
    border-spacing: 0.1em;
    margin-bottom: 1em;
    margin-top: 1em;
    color: white;
}

/* ячейки таблицы */

table.ui td {
    border: 1px solid #CCCCCC;
    padding: 0.3em 1em
}

table.ui th {
    border: 1px solid #CCCCCC;
    padding: 0.3em 1em
}

/* заголовки таблицы */

table.ui thead td {
    cursor: pointer;
    cursor: hand;
    font-weight: bold;
    text-align: center;
    vertical-align: middle
}

/* заголовок отсортированного столбца */

table.ui thead td.curcol {
    background-color: #999999;
    color: #FFFFFF
}

div.modal {
    color: black;
}