body {
    background: linear-gradient(45deg, rgba(13, 26, 25, 0.897), rgba(50, 243, 66, 0.308)), url(pics/elf.jpg);
    background-size: cover;
    line-height: 1.3;
}

div.limiter {
    margin: 0%;
    padding-top: 10px;
    padding-left: 20px;
    display: inline-block;
}

div.limiter1 {
    margin: 0%;
    padding-top: 10px;
    padding-left: 20px;
    display: inline-block;
}

div.limiter2 {
    margin: 0% 0px;
    display: inline-block;
}

div.container {
    max-width: 100%;
}