span.login100-form-title {
    font-size: 100%;
}

div.wrap-login100 {
    width: 191px;
}

p.x1 {
    font-size: 200%;
    color: rgb(0, 0, 0);
    padding: 5px;
}

p.x2 {
    font-size: 115%;
    color: white;
    text-align: center;
}

p.x3 {
    font-size: 100%;
    color: white;
    position: relative;
    right: 30px;
}

p.x4 {
    font-size: 100%;
    color: rgb(0, 0, 0);
    position: relative;
}

div.container-login100 {
    position: fixed;
}

#footer {
    position: fixed;
    /* Фиксированное положение */
    left: 0;
    bottom: 0;
    /* Левый нижний угол */
    padding: 10px;
    /* Поля вокруг текста */
    background: #39b54a;
    /* Цвет фона */
    color: #fff;
    /* Цвет текста */
    width: 100%;
    /* Ширина слоя */
}

a.button28 {
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color: rgb(209, 209, 217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    padding: .5em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86)) rgb(110, 112, 120);
    box-shadow: 0 1px rgba(255, 255, 255, .2) inset, 0 3px 5px rgba(0, 1, 6, .5), 0 0 1px 1px rgba(0, 1, 6, .2);
    transition: .2s ease-in-out;
}

a.button28:hover:not(:active) {
    background: linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76)) rgb(126, 126, 134);
}

a.button29 {
    position: relative;
    display: inline-block;
    font-size: 90%;
    color: rgb(209, 209, 217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    padding: .2em 1em;
    outline: none;
    border-radius: 5px;
    background: linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86)) rgb(110, 112, 120);
    box-shadow: 0 1px rgba(255, 255, 255, .2) inset, 0 3px 5px rgba(0, 1, 6, .5), 0 0 1px 1px rgba(0, 1, 6, .2);
    transition: .2s ease-in-out;
}

a.button29:hover:not(:active) {
    background: linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76)) rgb(126, 126, 134);
}

a.button27 {
    position: relative;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color: rgb(209, 209, 217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    padding: .2em 1em;
    outline: none;
    border-radius: 5px;
    background: linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86)) rgb(110, 112, 120);
    box-shadow: 0 1px rgba(255, 255, 255, .2) inset, 0 3px 5px rgba(0, 1, 6, .5), 0 0 1px 1px rgba(0, 1, 6, .2);
    transition: .2s ease-in-out;
}

a.button27:hover:not(:active) {
    background: linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76)) rgb(126, 126, 134);
}

a.button26 {
    position: absolute;
    top: 38%;
    left: 200px;
    display: inline-block;
    font-size: 100%;
    font-weight: 400;
    color: rgb(209, 209, 217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    padding: .5em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86)) rgb(110, 112, 120);
    box-shadow: 0 1px rgba(255, 255, 255, .2) inset, 0 3px 5px rgba(0, 1, 6, .5), 0 0 1px 1px rgba(0, 1, 6, .2);
    transition: .2s ease-in-out;
}

div.jumbotron {
    width: 100%;
    padding: 0%;
    text-align: center;
    background: linear-gradient(to top left, powderblue, pink);
    margin-bottom: 0%;
}

::selection {
    background: transparent;
}

a.button26:hover:not(:active) {
    background: linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76)) rgb(126, 126, 134);
}

form.back1 {
    background-color: rgba(128, 128, 128, 0.575);
    border-radius: 15px;
    padding: 5px;
    width: 100%;
    display: inline-block;
}

form.back2 {
    background-color: gray;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.596);
    /* Цвет фона */
    border: 3px solid #fff;
    /* Белая рамка */
    border-radius: 10px;
    /* Радиус скругления */
    display: inline-block;
    border: 2px solid transparent;
    /* Невидимая рамка */
}

form.back3 {
    background-color: rgba(77, 72, 72, 0.623);
    border-radius: 20px;
    width: 21%;
    padding: 10px;
}

form.back4 {
    background-color: rgba(232, 245, 60, 0.623);
    border-radius: 20px;
    width: 13%;
    padding: 10px;
    text-align: center;
}

div.jewelry {
    padding-top: 20px;
    padding-left: 120px;
}

div.jewelryHi {
    padding-top: 30px;
    padding-left: 100px;
}

p.amethyst {
    color: violet;
}

p.sapphire {
    color: blue;
}

p.emerald {
    color: green;
}

p.ruby {
    color: red;
}

p.diamond {
    color: white;
}

p.topaz {
    color: yellow;
}

p.amethyst1 {
    font-size: 150%;
    color: violet;
}

p.sapphire1 {
    font-size: 150%;
    color: blue;
}

p.emerald1 {
    font-size: 150%;
    color: green;
}

p.ruby1 {
    font-size: 150%;
    color: red;
}

p.diamond1 {
    font-size: 150%;
    color: white;
}

p.topaz1 {
    font-size: 150%;
    color: yellow;
}

p.amethyst2 {
    font-size: 115%;
    color: violet;
}

p.sapphire2 {
    font-size: 115%;
    color: blue;
}

p.emerald2 {
    font-size: 115%;
    color: green;
}

p.ruby2 {
    font-size: 115%;
    color: red;
}

p.diamond2 {
    font-size: 115%;
    color: white;
}

p.topaz2 {
    font-size: 115%;
    color: yellow;
}

p.amethyst3 {
    font-size: 130%;
    color: violet;
    position: absolute;
    left: 90%;
    top: 7px;
}

p.sapphire3 {
    font-size: 130%;
    color: blue;
    position: absolute;
    left: 90%;
    top: 45px;
}

p.emerald3 {
    font-size: 130%;
    color: green;
    position: absolute;
    left: 90%;
    top: 85px;
}

p.ruby3 {
    font-size: 130%;
    color: red;
    position: absolute;
    left: 90%;
    top: 123px;
}

p.diamond3 {
    font-size: 130%;
    color: white;
    position: absolute;
    left: 90%;
    top: 161px;
}

input.amethyst4 {
    font-size: 130%;
    color: violet;
    width: 20%;
    background-color: #00000000;
    text-align: center;
    padding-left: 15px;
}

input.sapphire4 {
    font-size: 130%;
    color: blue;
    width: 20%;
    background-color: #00000000;
    text-align: center;
    padding-left: 15px;
}

input.emerald4 {
    font-size: 130%;
    color: green;
    width: 20%;
    background-color: #00000000;
    text-align: center;
    padding-left: 15px;
}

input.ruby4 {
    font-size: 130%;
    color: red;
    width: 20%;
    background-color: #00000000;
    text-align: center;
    padding-left: 15px;
}

input.diamond4 {
    font-size: 130%;
    color: white;
    width: 20%;
    background-color: #00000000;
    text-align: center;
    padding-left: 15px;
}

input.topaz4 {
    font-size: 130%;
    color: yellow;
    width: 20%;
    background-color: #00000000;
    text-align: center;
    padding-left: 15px;
}

span.intAmethyst {
    font-size: 150%;
    color: violet;
}

span.intSapphire {
    font-size: 150%;
    color: blue;
}

span.intEmerald {
    font-size: 150%;
    color: green;
}

span.intRuby {
    font-size: 150%;
    color: red;
}

span.intDiamond {
    font-size: 150%;
    color: white;
}

span.intTopaz {
    font-size: 150%;
    color: yellow;
}

div.intStones {
    /* Размеры */
    background: rgba(0, 0, 0, 0.596);
    /* Цвет фона */
    border: 3px solid #fff;
    /* Белая рамка */
    border-radius: 10px;
    /* Радиус скругления */
    display: inline-block;
    border: 2px solid transparent;
    /* Невидимая рамка */
    text-align: center;
    display: inline-block;
    width: 50px;
}

div.intStones:hover {
    border: 2px solid black;
    /* Чёрная рамка */
}

input[type=range] {
    -webkit-appearance: none;
    width: 50%;
    margin: 10px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 30px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}
body {
    color: white;
}